body {
    min-height: 100vh;
}

.profile-header {
  padding: 38px;
  text-align: center;
}

.profile-header h1 {
  font-weight: 700;
  color: var(--color_texto_oscuro);
}

.FotoPerfil {
  width: 225px;
  height: 225px;
  border-radius: 50%;
  border: 5px solid var(--color_principal);
  margin: auto;
  margin-top: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.FotoPerfil img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.FotoPerfil:hover {
  transform: scale(1.05);
}

.CambiarFoto {
    margin-top: 31px;
    text-align: center;
    font-size: 18px;
}

.btnCambiarFoto {
    background-color: var(--color_principal);
    color: var(--color_terciario);
    border: none;
    padding: 10px 18px;
    border-radius: var(--border_radio_sm);
    cursor: pointer;
    font-weight: bold;
}

.Datos {
  margin-top: 30px;
  display: flex;
  width: 60%;
  flex-direction: column;
  color: var(--color_texto);
  background: var(--color_fondo);
  border: 1px solid var(--color_gris_claro);
  border-radius: var(--border_radio_sm);
  box-shadow:var(--tarjeta_sombra);
  overflow: hidden;
  text-align: left;
}

.Datos label {
  font-weight: bold;
  color: var(--color_texto_2);
  margin-top: 19px;
}

.form-control {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto; 
  background: var(--color_fondo);
  border: 1px solid var(--color_gris_claro);
  border-radius: var(--border_radio_sm);
  box-shadow:var(--tarjeta_sombra);
  padding: 10px 15px;
  font-size: 20px;
}

.Datos-contenedor input {
  background-color: var(--color_fondo_4);
  color: var(--color_texto);
  border: 1px solid var(--color_gris_claro);
  border-radius: var(--border_radio_sm);
  padding: 10px;
  outline: none;
  width: 100%;
	box-shadow: none;
}

.form-control:focus {
  color: var(--color_texto);
  background-color: var(--color_fondo_4);
  border: 1px solid var(--color_principal);
  outline: 0;
  box-shadow: none;
}

.ActualizarPerfil{
  margin-top: 18px;
}

.btnActualizarPerfil {
  color: var(--color_terciario);
  background-color: var(--color_principal);
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border-radius: var(--border_radio_sm);
  width: 100%;
  margin: auto;
  padding: 10px 10px;
  margin-top: 18px;
}

@media screen and (max-width: 768px) {
  .Datos {
      width: 100%;
      flex-direction: column;
  }

  .Datos-contenedor {
      width: 100%;
      margin: auto; 
  }
}

@media screen and (max-width: 576px) {
  .Datos label {
      font-size: 16px;
  }

  .FotoPerfil {
      width: 150px;
      height: 150px;
  }

  .CambiarFoto {
      font-size: 12px;
  }

  .btnActualizarPerfil {
      font-size: 14px;
  }
}