:root {
  /* Colores que no cambian */
  --color_principal: #f09100;
  --color_principal_hover: #e28a06;
  --color_secundario: #212529;
  --color_terciario: #f8f9fa;
  
  --color_celeste: #5d96cf;
  --color_celeste_2: #4572ad;
  --color_celeste_3: #35497d;
  --color_rosado: #ee4698;
  --color_rosado_2: #d12d90;
  --color_amarillo: #eae13d;
  --color_gris_claro: #e6e7e8;

  /* Bordes */
  --border_radio: 16px;
  --border_radio_sm: 8px;

  /* Box Shadow */
  --tarjeta_sombra: 4px 4px 8px rgba(0, 0, 0, 0.25);

  /* -------- Colores en tema light --------- */
  --color_fondo: #f8f9fa;
  --color_fondo_2: #f8f9fa;
  --color_fondo_3: #e6e7e866;
  --color_fondo_4 : #e6e7e8;

  --color_fondo_degrade: linear-gradient(
    to bottom,
    var(--color_texto_3) 0%,
    var(--color_gris_claro) 100%
  );

  --color_texto: #4d4d4d;
  --color_texto_2: #212529;
  --color_texto_3: #f8f9fa;
  /* ---------------------------------------- */

}

/* -------- Colores en tema dark --------- */
[data-theme="dark"] {
  --color_fondo: black;
  --color_fondo_2: #212529;
  --color_fondo_3: black;
  --color_fondo_4 : #212529;

  --color_fondo_degrade: linear-gradient(
    to bottom,
    black 0%,
    #212529 100%
  );

  --color_texto: #bfbfbf;
  --color_texto_2: #f8f9fa;
  --color_texto_3: #212529;
}
 /* -------------------------------------- */
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background-image: var(--color_fondo_degrade);
  color: var(--color_texto);
}

.cambiarTema{
  width: 46px;
  height: 46px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
  line-height: 1;
}

.checkboxTema{
  display: none;
}

.icono {
  grid-column: 1/1;
  grid-row: 1/1;
  transition: transform 500ms;
}

.iconoLuna{
  transition-delay:100ms;
}

.iconoSol{
  transform: scale(0);
}

#checkboxTema:checked + .iconoLuna {
  transform: rotate(360deg) scale(0);
}

#checkboxTema:checked ~ .iconoSol {
  transition-delay:100ms;
  transform: scale(1) rotate(360deg);
}

.w-8 {
    width: 2rem /* 32px */;
  }

.card {
  display: flex;
  flex-direction: column;
  color: var(--color_texto);
  background: var(--color_fondo);
  border: 0.5px solid var(--color_gris_claro);
  border-radius: var(--border_radio_sm);
  overflow: hidden;
  text-align: left;
  padding: 12px;
  cursor: pointer;
}

.card:hover{
  box-shadow: var(--tarjeta_sombra);
}

.list-group-item {
  background-color: var(--color_fondo_4);
  color: var(--color_texto);
  border: 1px solid var(--color_gris_claro) !important; 
  border-radius: var(--border_radio_sm) !important;
}
.list-group-item h4 {
  color: var(--color_texto_2);
}
.list-group-item:hover{
  background-color: var(--color_fondo_4);
  box-shadow: var(--tarjeta_sombra);
  color: var(--color_texto);
}

.list-group{
  gap: 20px;
  
}

.jumbotron,
.card-body,
.container,
.site-header {
  font-family: "Verdana", serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53c0fb;
  background: url("../img/cover_back.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: 0.25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color 0.15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087f7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

#usuario {
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.55);
  height: 100%;
  margin: 0;
}

@media screen and (max-width: 992px) {
  .logoHeader {
    padding: 5px 0;
  }
  .logoHeader img {
    height: 40px;
  }
  .navbar-nav {
    text-align: center;
  }
  #usuario {
    padding: 0.5rem 0;
    justify-content: center;
  }
}

/* Menú navegación - Perfil */
.linkPerfil .dropdown-menu {
    text-align: center;
    background-color: var(--color_fondo_2);
    border-color: var(--color_principal);
}

.linkPerfil .dropdown-menu a{
    color: var(--color_texto);
    padding: 8px;
    border-bottom: 1px solid var(--color_principal);
}

.linkpPerfil .dropdown-menu a:last-child{
    border-bottom: none;
}

.navbar-nav .dropdown-item:hover{
    background-color: var(--color_principal);
    color: var(--color_terciario);
}